.loginBody{
    margin: 50px 10px;
    padding: 50px 10px 
}

.marginTop{
    margin-top:100px
}


.padding{
    padding: 50px opx
}

.middle{
    display: block;
    margin: auto;
}


#body{
    background: rgb(212, 212, 212);
}